@media (max-width:400px) {
    .songCard {
      width:calc(89vw - 20px);
      height:calc(89vw - 20px);
      background-color:white;
    }
    
    .songTitle {
      font-size:9vw;
    }
    
    .songLink {
      font-size:7vw;
    }
  }

  @media (min-width:400px) and (max-width:800px) {
    .songCard {
      width:calc(89vw / 2 - 20px);
      height:calc(89vw / 2 - 20px);
    }
    
    .songTitle {
      font-size:calc(9vw / 2);
    }
    
    .songLink {
      font-size:calc(7vw / 2);
    }
  }

  @media (min-width:800px) and (max-width:1200px) {
    .songCard {
      width:calc(89vw / 3 - 20px);
      height:calc(89vw / 3 - 20px);
    }
    
    .songTitle {
      font-size:calc(9vw / 3);
    }
    
    .songLink {
      font-size:calc(7vw / 3);
    }
  }

  @media (min-width:1200px) and (max-width:1600px) {
    .songCard {
      width:calc(89vw / 4 - 20px);
      height:calc(89vw / 4 - 20px);
    }
    
    .songTitle {
      font-size:calc(9vw / 4);
    }
    
    .songLink {
      font-size:calc(7vw / 4);
    }
  }

  @media (min-width:1600px) {
    .songCard {
      width:calc(89vw / 5 - 20px);
      height:calc(89vw / 5 - 20px);
      background-color:white;
    }
    
    .songTitle {
      font-size:calc(9vw / 5);
    }
    
    .songLink {
      font-size:calc(7vw / 5);
    }
  }

  @media (min-width:1600px) and (max-width:2000px) {
    .songCard {
      width:calc(89vw / 5 - 20px);
      height:calc(89vw / 5 - 20px);
      background-color:white;
    }
    
    .songTitle {
      font-size:calc(9vw / 5);
    }
    
    .songLink {
      font-size:calc(7vw / 5);
    }
  }