* {
  border:0px solid black;
  font-family: 'roboto', sans-serif;
  display:inherit;
  margin:0px;
  background-color:inherit;
}

::-webkit-scrollbar {
  width:0px;
}

html {
  --accentColor:white;
}

button:focus {
  outline:0;
}

head {
  display:none;
}

body {
  margin:0px;
  width:100vw;
}

#header {
  background-color: var(--accentColor);
  
  z-index:12;
  position:fixed;
  
  height:64px;
  width:100%;
  box-shadow:0px 4px 8px gray;
}

  .headerButton {
    float:left;
    height:64px;
    width:64px;
    font-size:48px;
    line-height:64px;
    text-align:center;
    display:inline-block;
  }
    
    #navButton {
      float:left;
    }
    
    .material-icons.navButton{
      font-size:36px;
    }
      
      #shuffle {
        color:white;
        opacity:0.5;
      }

  #title {
    float:left;
    text-align:left;
    line-height:64px;
    font-size:36px;
    height:100%;
    width:calc(100% - 64px);
    display:block;
    overflow:hidden;
  }
#overlay {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position:fixed;
  top:0;
  left:0;
  display:none;
}


nav {
  position:fixed;
  z-index:4;
  top:64px;
  width:280px;
  height:calc(100% - 64px);
  background-color:white;
  overflow:scroll;
  box-shadow:8px 0px 16px gray;
  margin-left:-300px;
  transition-property:margin-left;
  transition-duration:0.5s;
}

  .open {
    margin-left:0px;
  }

  .albumNav {
    height:48px;
    width:300px;
    padding-left:16px;
    text-align:left;
    font-size:14px;
    line-height:48px;
    display:block;
    vertical-align:top;
  }

    .wrapper {
      height:0px;
      overflow-y:hidden;
      transition-property:height;
      transition-duration:0.5s;
    }

      .songNav{
        height:48px;
        width:300px;
        padding-left:32px;
        text-align:left;
        font-size:14px;
        line-height:48px;
      }
    
.content {
  width:90vw;
  height:100%;
  background-color:white;
  padding-top:72px;
  padding-left:5vw;
  padding-right:5vw;
  display:inline-block;
}
  .album{
    width:100%;
    text-align:center;
    font-size:32px;
    line-height:48px;
    height:48px;
    color:var(--accentColor);
    border-bottom:1px solid var(--accentColor);
  }
  
  .songCard {
    background-color:white;
    position:relative;
    margin:1vw;
    border:0px solid gray;
    box-shadow:0px 0px 8px gray;
  }

  img {
    height:100%;
    width:100%;
    position:absolute;
  }
  
  .songTitle {
    display:block;
    position: absolute; 
    margin-top: 0px; 
    z-index:1;
    background:rgba(255, 255, 255, 0.7);
    width:100%;
    height:22%;
    text-align:center;
    padding-top:8%;
  }
  
    .twoLine {
      height:28%;
      padding-top:2%;
    }

  .songLink {
    position: absolute; 
    bottom:0px; 
    z-index:1;
    background:rgba(255, 255, 255, 0.7);
    width:calc(100% / 3);
    height:20%;
    text-align:center;
    padding-top:2%;
    font-size:14px;
    display:block;
  }
  
    .secondThird {
      margin-left:calc(100% / 3);
    }

    .thirdThird {
      margin-left:calc(200% / 3);
    }
    
    .firstHalf {
      width:50%;
    }
    
    .secondHalf {
      width:50%;
      margin-left:50%;
    }
    
    .whole {
      width:100%;
    }
  
  iframe {
    position:fixed;
    height:200px;
    max-height:25vw;
    width:200px;
    max-width:25vw;
    right:16px;
  }
  
  .lyrics {
    position:fixed;
    font-size:24px;
    padding-left: 16px;
    padding-top:80px;
    padding-bottom:32px;
    height:calc(100vh - 128px);
    width:calc(100vw - 200px - 32px - 16px);
    min-width: calc(75vw - /*iframe padding*/ 16px - 16px - 16px);
    overflow-y:scroll;
  }